<section id="PesquisaUsuarios" class="section-glass animate">
  <div class="row text-center">
    <main class="container my-5 animate">
      <h1 class="text-center mb-4">Pesquisar Usuários</h1>

      <form id="pesquisa" method="post">
        <div class="glass-card p-4 mx-auto" style="max-width: 650px">

          <div class="mb-3">
            <label class="form-label">
              Digite o nome do usuário para pesquisa
            </label>

            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="busca"
                autocomplete="off"
                name="pesquisaNome"
              />
              <button
                type="button"
                class="btn btn-primary"
                onclick="preencher()"
              >
                Pesquisar
              </button>
            </div>

            <!-- LISTA DO AUTOCOMPLETE -->
            <div id="listaResultados" class="list-group"></div>

          </div>

        </div>
      </form>

    </main>
  </div>
  <div class="alert alert-success" id="alertSuccess" role="alert" hidden> 
</div>
<div class="alert alert-danger" id="alertDanger" role="alert" hidden>
</div>

</div>

</section>

<!-- AUTOCOMPLETE -->
<script>
  const usuarios =
  {{{json dadosuser}}}; const campo = document.getElementById("busca"); const
  lista = document.getElementById("listaResultados");
  campo.addEventListener("keyup", function () { const texto =
  campo.value.toLowerCase(); lista.innerHTML = ""; if (texto.length < 2) return;
  const filtrados = usuarios.filter(u =>
  u.nomeUsuario.toLowerCase().includes(texto) ); filtrados.forEach(usuario => {
  const item = document.createElement("div");
  item.classList.add("list-group-item"); item.style.cursor = "pointer";
  item.innerText = usuario.nomeUsuario; item.addEventListener("click", function
  () { campo.value = usuario.nomeUsuario; lista.innerHTML = ""; });
  lista.appendChild(item); }); });  





</script>